# Ignore everything in build/ except the Flutter Web output
build/
!build/web/index.html
!build/web/assets/
!build/web/favicon.png

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE configs
.idea/
.vscode/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/

# iOS build artifacts
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Coverage
coverage/
flutter/
