# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_build/
generated_plugin_registrant.dart
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/Flutter.podspec.lock

# VS Code / IntelliJ
.idea/
.vscode/
*.iml

# Web
web/manifest.json
web/favicon.png
web/icons/

# macOS/Linux/Windows
*.DS_Store
*.swp
*.log

# Large files handled by Git LFS (optional)
*.dill.track.dill
